.asks{
    transition: all 1s;
    .ask-list{
        box-shadow: 0 0 10px rgba(51,51,51, .25);
        font-size: 15px;
        width:120px;
        height: 320px;
        background: white;
        justify-content: space-around;
        position: absolute;
        top:46px;
        left: 0px;
        padding-left: 20px;
        display: none;
        transition: all 1s;
    }
}



.asks:hover .ask-list{
    display: block;
    display: flex;
    flex-direction: column;
    transition: all 1s;

}