.oainput{
    outline: none;
    width: 300px;
    height: 35px;
    border: 1px solid black;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 20px;
    color:black;
}
.outaline{
    outline: none;
    background: #4880fd;
    border: none;
}
.outaline:hover{
    background: #3a77fa;
}
.Logincolor{
    color:#000
}
.Logincolor:hover{
    color:#4880fd;
}